Mongodb is a nosql database in this we stored data in a document form(key and value pair )

we have to install pymongo module in system

In [1]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
# Import the install module 
import pymongo

#conection string copied from mongodb cloud server 
#update user id and password in copied connection string as per set in mongodb server 
client = pymongo.MongoClient("mongodb+srv://kishormuthal1999:pwskills@cluster0.lgeozht.mongodb.net/?retryWrites=true&w=majority")
db = client.test

# we can able to create as many as clustor as per requirement

In [14]:
# if we call client it will give us imformation related host and other stuff
client

MongoClient(host=['ac-qp9vifg-shard-00-00.lgeozht.mongodb.net:27017', 'ac-qp9vifg-shard-00-02.lgeozht.mongodb.net:27017', 'ac-qp9vifg-shard-00-01.lgeozht.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-5byhqb-shard-0', tls=True)

In [15]:
# database- collection - document 
# Create a database in a cluster
db = client['Pwskills']

In [16]:
# create collection in a database
coll_create = db["Studentrecord"]

after creating database and collection in mongodb cluster it is not seen in mongodb server because we are not added any data in this database

In [17]:
# creating document in a collection 
# means inserting data in a collection of database

data = { "name" : "kishor muthal",
      "Course" : "data science master",
      "fees" : 3000}
coll_create.insert_one(data)

# we create database in a mongodb 
# in this database we create collection (same as creatind datatable in sql
# in collection we can add as much as documnet in key value pair and the structure of data can be different in diff documents

In [18]:
# insert different sturcture data 

data1 = { "mailid" : "kishormuthal",
         "password" : "password"
        }
coll_create.insert_one(data1)

In [22]:
# insert different sturcture data 

data2 = { "id" : "123456adb",
        "course_list" : [ "datascience","webdevelopment", "bigdata"],
         "mentor" :  [ "sudhanshu","krish", "kishor"],
         "phonenmber": 456
         
        }
coll_create.insert_one(data2)

In [23]:
# insert different sturcture data 
# we can give id for the document by ourself

data3 = { "_id" : "123456adb",
        "course_list" : [ "datascience","webdevelopment", "bigdata"],
         "mentor" :  [ "sudhanshu","krish", "kishor"],
         "phonenmber": 456
         
        }
coll_create.insert_one(data3)

In [28]:
# we can insert multiple data at a time
data4 = [
    { "name" : "kishor muthal",
      "Course" : "data science master",
      "fees" : 3000},
    { "name" : "kishor muthal",
      "Course" : "data science master",
      "fees" : 3000},
]
coll_create.insert_many(data4)

In [31]:
# fetch all data from database in python
for i in coll_create.find():
 print(i)

{'_id': ObjectId('6415b7b0c8a56eabf9682563'), 'name': 'kishor muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415ba79c8a56eabf9682564'), 'mailid': 'kishormuthal', 'password': 'password'}
{'_id': ObjectId('6415bc42c8a56eabf9682567'), 'id': '123456adb', 'course_list': ['datascience', 'webdevelopment', 'bigdata'], 'mentor': ['sudhanshu', 'krish', 'kishor'], 'phonenmber': 456}
{'_id': '123456adb', 'course_list': ['datascience', 'webdevelopment', 'bigdata'], 'mentor': ['sudhanshu', 'krish', 'kishor'], 'phonenmber': 456}
{'_id': ObjectId('6415bd84c8a56eabf9682568'), 'name': 'kishor muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415bdd8c8a56eabf968256a'), 'name': 'kishor muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415be2bc8a56eabf968256c'), 'name': 'kishor muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415be63c8a56eabf968256d'), 'name': 'kishor muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415bea9c8a56eabf968256e'), 'name': 'kishor muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415bea9c8a56eabf968256f'), 'name': 'kishor muthal', 'Course': 'data science master', 'fees': 3000}

In [34]:
# if we wanrt to fetch first record 
coll_create.find_one()

{'_id': ObjectId('6415b7b0c8a56eabf9682563'),
 'name': 'kishor muthal',
 'Course': 'data science master',
 'fees': 3000}

In [39]:
# fetch the data on the basis of condition
# fetch data where name = kishor
for i in coll_create.find({"name" : "kishor muthal"}):
  print(i)

{'_id': ObjectId('6415b7b0c8a56eabf9682563'), 'name': 'kishor muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415bd84c8a56eabf9682568'), 'name': 'kishor muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415bdd8c8a56eabf968256a'), 'name': 'kishor muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415be2bc8a56eabf968256c'), 'name': 'kishor muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415be63c8a56eabf968256d'), 'name': 'kishor muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415bea9c8a56eabf968256e'), 'name': 'kishor muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415bea9c8a56eabf968256f'), 'name': 'kishor muthal', 'Course': 'data science master', 'fees': 3000}

In [40]:
# fetch the data where fees is greater than equal to3000
for i in coll_create.find({"fees" : {"$gte" : 3000}}):
  print(i)

{'_id': ObjectId('6415b7b0c8a56eabf9682563'), 'name': 'kishor muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415bd84c8a56eabf9682568'), 'name': 'kishor muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415bdd8c8a56eabf968256a'), 'name': 'kishor muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415be2bc8a56eabf968256c'), 'name': 'kishor muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415be63c8a56eabf968256d'), 'name': 'kishor muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415bea9c8a56eabf968256e'), 'name': 'kishor muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415bea9c8a56eabf968256f'), 'name': 'kishor muthal', 'Course': 'data science master', 'fees': 3000}

In [42]:
# update the data in database
# change where name = kishor to name = vishal
coll_create.update_many({'name': 'kishor muthal'}, {"$set" : {'name': 'vishal muthal'}})
for i in coll_create.find():
  print(i)

{'_id': ObjectId('6415b7b0c8a56eabf9682563'), 'name': 'vishal muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415ba79c8a56eabf9682564'), 'mailid': 'kishormuthal', 'password': 'password'}
{'_id': ObjectId('6415bc42c8a56eabf9682567'), 'id': '123456adb', 'course_list': ['datascience', 'webdevelopment', 'bigdata'], 'mentor': ['sudhanshu', 'krish', 'kishor'], 'phonenmber': 456}
{'_id': '123456adb', 'course_list': ['datascience', 'webdevelopment', 'bigdata'], 'mentor': ['sudhanshu', 'krish', 'kishor'], 'phonenmber': 456}
{'_id': ObjectId('6415bd84c8a56eabf9682568'), 'name': 'vishal muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415bdd8c8a56eabf968256a'), 'name': 'vishal muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415be2bc8a56eabf968256c'), 'name': 'vishal muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415be63c8a56eabf968256d'), 'name': 'vishal muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415bea9c8a56eabf968256e'), 'name': 'vishal muthal', 'Course': 'data science master', 'fees': 3000}
{'_id': ObjectId('6415bea9c8a56eabf968256f'), 'name': 'vishal muthal', 'Course': 'data science master', 'fees': 3000}

In [45]:
 #if we want to delet or drop all collection used drop method 
coll_create.drop()
 for i in coll_create.find():
   print(i)